body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d0abb39f;
}

h1 {
  color: rgb(14, 4, 17);
  font-size: 30px;
  display: block;
  line-height: 28px;
}

ul {
  margin: 92px 0px 0px 80px;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 18px;
  font-weight: 100;
  margin: 0;
}

small {
  font-size: 12px;
  font-weight: 700;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 3px solid olive;
  border-radius: 10px;
  background-color: white;
}

.weatherTemp img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}

.weatherTemp strong {
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}

.weatherTemp .units {
  position: relative;
  top: -25px;
}

a {
  text-decoration: none;
  cursor: default;
  color: blueviolet;
}

.weatherTemp .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weatherTemp .active:hover {
  text-decoration: none;
  cursor: default;
}
