body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(14, 4, 17);
  font-size: 30px;
  display: block;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 18px;
  font-weight: 100;
  margin: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.weatherTemp img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weatherTemp strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weatherTemp .units {
  position: relative;
  top: -32px;
}
