h1 {
  font-family: "PT Serif", serif;
  font-weight: 900;
}

.card-text {
  font-family: "PT Serif", serif;
  font-size: 20px;
  text-align: center;
  display: block;
}
.weatherDescription {
  text-align: center;
  list-style: none;
}
.todayTemp {
  font-size: 25px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  text-align: center;
}
.card-subtitle {
  font-size: 20px;
  text-align: center;
}

.button {
  background-color: aliceblue;
  text-decoration-color: black;
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin: 5px auto;
}

.currentLoc {
  display: block;
  margin: 5px 0px auto;
  border-radius: 4px;
}

.enterCity {
  font-size: 16px;
  font-weight: bold;
}

.weatherApp {
  border: 2px solid;
  border-radius: 6px;
  background-color: rgba(175, 238, 238, 0.26);
  padding: 20px;
  margin: 30px auto;
}

.codeBy {
  position: relative;
  margin-top: 0px;

  font-weight: bold;
  font-size: 12px;
}
